.root {

    -fx-alignment: center;
}

.buttons-box {
    -fx-spacing: 20px;
    -fx-padding: 15px;
}

.label-box {
    -fx-spacing: 10px;
}

.text-area {
    -fx-control-inner-background: #89CFF0;
    -fx-pref-height: 600px;
    -fx-max-width: 1800px;
}


.text-area-container {
    -fx-alignment: center;
}

.menu-button {
    -fx-background-color: #89CFF0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.menu-button:hover {
    -fx-background-color: #A4D3EE;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.button {
    -fx-background-color: #89CFF0;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: #A4D3EE;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.keyword {
    -fx-fill: #0480eb;
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: darkgray;
}

.brace {
    -fx-fill: darkgray;
}

.bracket {
    -fx-fill: darkgray;
}

.semicolon {
    -fx-fill: darkgray;
}

.string {
    -fx-fill: #e40e0e;
}

.comment {
    -fx-fill: #4ee266;
    -fx-font-style: italic;
}
