.root {
    /* Centers the content */
    -fx-alignment: center;
}

.buttons-box {
    /* Spacing between buttons and padding */
    -fx-spacing: 20px;
    -fx-padding: 15px;
}

.label-box {
    /* Spacing between labels */
    -fx-spacing: 10px;
}

.text-area {
    /* Styling for code input area */
    -fx-control-inner-background: #89CFF0; /* Background color */
    -fx-pref-height: 400px; /* Preferred height */
    -fx-max-width: 1600px; /* Maximum width */
}

.text-area-container {
    /* Aligns the text area to the bottom */
    -fx-alignment: bottom;
}

.menu-button {
    /* Styling for menu buttons */
    -fx-background-color: #89CFF0; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-weight: bold;
    -fx-background-radius: 6; /* Rounded border */
}

.menu-button:hover {
    /* Hover effect for menu buttons */
    -fx-background-color: #A4D3EE; /* Hover background color */
    -fx-font-weight: bold;
    -fx-underline: true; /* Underline */
}

.button {
    /* Styling for regular buttons */
    -fx-background-color: #89CFF0; /* Background color */
    -fx-font-weight: bold;
    -fx-background-radius: 6; /* Rounded border */
}

.button:hover {
    /* Hover effect for regular buttons */
    -fx-background-color: #A4D3EE; /* Hover background color */
    -fx-font-weight: bold;
    -fx-underline: true; /* Underline */
}

.keyword {
    /* Styling for keywords in code */
    -fx-fill: #0480eb; /* Text color */
    -fx-font-weight: bold;
}

.paren, .brace, .bracket, .semicolon {
    /* Styling for parentheses, braces, brackets, and semicolons in code */
    -fx-fill: darkgray; /* Text color */
}

.string {
    /* Styling for strings in code */
    -fx-fill: #e40e0e; /* Text color */
}

.comment {
    /* Styling for comments in code */
    -fx-fill: #4ee266; /* Text color */
    -fx-font-style: italic;
}

.label {
    /* Styling for labels */
    -fx-text-fill: black; /* Text color */
    -fx-background-color: transparent; /* Background color */
}
